/* FOOTER */
.footer {
  text-align: center;
  padding: 60px;
  background-color: grey;
  border: 1px solid #00f6ff;
}

.footer a {
  font-size: 30px;
  color:  black;
  text-shadow: -1px 0 #00f6ff, 0 1px #00f6ff, 1px 0 #00f6ff, 0 -1px #00f6ff;
  transition: 0.3s;
}

.footer a:hover {
  color: #00f6ff;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.footer p {
  opacity: 0.5;
  color: white;
  text-shadow: -1px 0 #00f6ff, 0 1px #00f6ff, 1px 0 #00f6ff, 0 -1px #00f6ff;
}

.minif {
  border: 1px #00f6ff;
}
